.details{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;

}


.head{
    display: flex;
}
.title{
    display: flex;
}


.back{
    align-items: center;
}