.wrapper {
  width: 100%;
  /* height: 100vh; */
  margin: 0;
  padding: 0;
  /* position: relative; */
  overflow: visible; 
}

.table {
  width: 100%;
  border-collapse: collapse; /* remove gaps between cells */
  min-width: 700px;
  text-align: left;
  /* overflow: visible; */
  /* border: 1px solid #374151; */
}

.header th {
  background-color: #111827;
  color: #d1d5db;
  font-size: 14px;
  font-weight: 600;
  padding: 16px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  font-family: Poppins, sans-serif;
  border-bottom: 1px solid #374151; /* remove bottom border */
}

.table td {
  background-color: #1f2937;
  color: #E5E7EB;
  padding: 16px;
  border-top: none; /* remove top border */
  font-size: 14px;
  vertical-align: top;
  font-family: Poppins, sans-serif;
  border-bottom: 1px solid #374151;
}



.table td strong {
  font-size: 14px;
  color: #E5E7EB;
}

.table td small {
  font-size: 12px;
  color: #9ca3af;
}

/* Status badges */
.blue {
  background-color: #2563eb;
  color: #e0f2fe;
  font-weight: 500;
  font-size: 12px;
  padding: 4px 10px;
  border-radius: 12px;
  display: inline-block;
  text-transform: capitalize;
}

.green {
  background-color: #10b981;
  color: #e0f2fe;
  font-weight: 500;
  font-size: 12px;
  padding: 4px 10px;
  border-radius: 12px;
  display: inline-block;
  text-transform: capitalize;
}

.silver {
  background-color: #6b7280;
  color: #f9fafb;
  font-weight: 500;
  font-size: 12px;
  padding: 4px 10px;
  border-radius: 12px;
  display: inline-block;
  text-transform: capitalize;
}

/* Optional: Hover effect for rows */
.table tr:hover td {
  background-color: #374151;
  transition: background-color 0.3s ease;
}

.actions {
  position: relative;
  display: inline-block;
}

.menuTrigger {
  cursor: pointer;
  padding: 6px;
  border-radius: 6px;
 border: 2px solid transparent; /* <- reserve border space */
  transition: background-color 0.2s ease, border-color 0.2s ease;
  display: inline-block;
}

.menuTrigger:hover {
  background-color: #374151;
    border: 2px solid #5249fb;
}

.dropdown {
  position: absolute;
  top: 40px;
  right: 0;
  background-color: #1f2937;
  border: 1px solid #374151;
  border-radius: 8px;
  box-shadow: 0 10px 15px rgba(37, 37, 37, 0.2);
  z-index: 1000;
  min-width: 180px;
  /* padding: 8px 0; */
}

.dropdownItem {
  background: none;
  border: none;
  width: 100%;
  color: #e5e7eb;
  text-align: left;
  font-family: Poppins, sans-serif;
  font-weight: 550;
  font-size: 14px;
  padding: 10px 16px;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.dropdownItem:hover {
  background-color: #111827;
}

.dropdownItem svg {
  width: 16px;
  height: 16px;
  stroke: #9ca3af;
}




/* Responsive adjustments */
@media (max-width: 768px) {
  .wrapper {
    padding: 20px; /* adjust padding for smaller screens */
  }
}
