.cabin-table{
    display: flex;
    flex-direction: column;
    padding: 40px;
    width: 100%;
    max-width: 1100px;
    background-color: #111827;
}


.cabin-header{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    border: 1px solid #67707d;
    color: #d1d5db;
    padding: 20px;
    font-weight: 550;
    font-size: 15px;
    background-color: #111827;
    font-family: Poppins, sans-serif;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}


.cabin-table ul{
    border: 1px solid #67707d;
    display: flex;
    flex-direction: column;
    border-radius: 7px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: #18212f;
    margin: 0px;
}

.cabin-table li{
    
    color: #d1d5db;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(7, 1fr);
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid #363d46;
}

.cabin-button{
    padding-top: 15px;
}

.cabin-button button{
    padding: 14px 20px;
    border-radius: 5px;
    border: none;
    background-color: #4f43e5;
    color: #EEF2FF;
    font-weight: 550;
    font-size: 14px;
    font-family: Poppins, sans-serif;
}

