.settingForm{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 30px;
    gap: 30px;
    background-color: #18212F;
}



.settings{
    display: grid;
    grid-template-columns: repeat( 3, 1fr);
    /* gap: 40px; */
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 1px solid #2f3030;
}


.settings input{
    padding: 10px;
}




.settingInput{
    color: #E5E7EB;
    font-size: 14px;
    font-family: Poppins, sans-serif;
}


