.settingForm{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    padding: 30px;
    gap: 30px;
    background-color: #18212F;
}



.settings{
    display: grid;
    grid-template-columns: repeat( 3, 1fr);
    /* gap: 40px; */
    align-items: center;
}



.settingInput{
    color: #E5E7EB;
    font-size: 14px;
    font-family: Poppins, sans-serif;
}


